#container-options {
  max-width: 600px;
  margin-top: 50px;
}

.card-border {
  border-style: solid;
  border-color: rgba(161, 161, 161, 0.2);
}

.max-1000 {
  max-width: 1400px;
}
.op {
  margin-left: auto;
  margin-right: auto;
}

.capitalize {
  text-transform: capitalize;
}

.image-functions-problems {
  object-fit: fill;
  min-height: max-content;
}

.vertical-top {
  vertical-align: text-top;
}
